<%= javascript_pack_tag "users/index_articles_and_dashboards" %>
<%
=begin%>
 <%= stylesheet_link_tag 'users/posts', media: 'all', 'data-turbolinks-track': 'reload' %> 
<%
=end%>

<% provide(:title,  "動画投稿一覧") %>
<%= form_tag(users_posts_path, :method => "get") do %>
  <button type="button" class="btn btn-success sort-modal-btn ml-5" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
    並べ替え
  </button>
  <button type="button" class="btn btn-success filter-modal-btn ml-3" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
    絞り込み検索
  </button>
  <% if params[:reset] %>
    <button type="button" class="btn btn-outline-success reset-btn ml-3">リセット</button>
  <% end %>

  <%= render partial: 'modal', locals: { posts: @posts, order: params[:order] } %>
<% end %>

    <% if @posts&.exists? %>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4">
            <div class="card mb-3">
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/<%= post.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <div class="card-body">
                <% truncated_title = truncate(post.title, length: 20, omission: '...') %>
                <h5 class="card-title bold-title" onclick="window.location='<%= users_post_path(id: post.id) %>'" title="<%= post.title %>"><%= truncated_title %></h5>
                
                <% truncated_content = truncate(post.body.gsub(/[\r\n]+/, ' '), length: 45, omission: '...') %>
                <p class="card-text post-body gray-content" onclick='window.location="<%= users_post_path(id: post.id) %>"' title="<%= post.body %>">
                  <%= simple_format(sanitize(truncated_content, tags: [])) %>
                </p>
                
                <p class="card-text">
                  <%= post.decorate.formatted_likes(current_user) %>
                  <%= post.decorate.formatted_comment_count %>
                </p>
                <p class="card-text post-author" onclick='window.location="<%= users_post_path(id: post.id) %>"'>
                  <%= post.admin ? post.admin.name : post.user.name %>
                </p>
                <p class="card-text post-created_at" onclick='window.location="<%= users_post_path(id: post.id) %>"'>
                  <%= post.created_at.strftime('%Y/%m/%d') %>
                </p>
                <div class="dropdown">
                  <button class="btn btn-menu" data-bs-toggle="dropdown" style="width: 66.5px">︙</button>
                  <ul class="dropdown-menu">
                    <% if post.user_id == current_user.id %>
                      <li><%= link_to '閲覧', users_post_path(post), class:"nav-link" %></li>
                      <li><%= link_to '編集', edit_users_post_path(post), class:"nav-link", id:"post-edit" %></li>
                      <li><%= link_to '削除', users_post_path(post), method: :delete, class:"nav-link", data: {confirm: "#{post.title}を削除してもよろしいですか？"} %></li>
                    <% else %>
                      <li><%= link_to '閲覧', users_post_path(post), class:"nav-link" %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>



      <%
=begin%>
 <% @posts.each do |post| %>
        <tr>
          <td class="post-title" onclick="window.location='<%= users_post_path(id: post.id) %>'">
            <%= post.title %>
          </td>
          <td>
            <%= post.decorate.formatted_likes(current_user) %>
            <%= post.decorate.formatted_comment_count %>
          </td>
          <td class="post-body" onclick='window.location="<%= users_post_path(id: post.id) %>"'><%= simple_format(post.body) %></td>
          <td class="post-url" width="150" onclick='window.location="<%= users_post_path(id: post.id) %>"'>
            <iframe width="289" height="180" src="https://www.youtube.com/embed/<%=post.youtube_url %>"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </td>
          <td class="post-author" onclick='window.location="<%= users_post_path(id: post.id) %>"'><%= post.admin ? post.admin.name : post.user.name %></td>
          <td class="post-created_at" onclick='window.location="<%= users_post_path(id: post.id) %>"'><%= post.created_at.strftime('%Y/%m/%d') %></td> 
          <td>
            <button class="btn btn-menu" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
            <ul class="dropdown-menu">
              <% if post.user_id == current_user.id %>
                <li><%= link_to '閲覧', users_post_path(post), class:"nav-link" %></li>
                <li><%= link_to '編集', edit_users_post_path(post), class:"nav-link", id:"post-edit" %></li>
                <li><%= link_to '削除', users_post_path(post), method: :delete, class:"nav-link", data: {confirm: "#{post.title}を削除してもよろしいですか？"} %></li>
              <% else %>
                <li><%= link_to '閲覧', users_post_path(post), class:"nav-link" %></li>
              <% end %>
            </ul>
          </td> 
        </tr>
      <% end %> 
<%
=end%>
    <% else %>
      <%= render 'users/shared/table_without_record' %>
    <% end %>


<%= paginate @posts, theme: 'bootstrap-5' %>
