<%= javascript_pack_tag "users/index_articles_and_dashboards" %>

<% provide(:title,  "動画投稿一覧") %>
<%= form_tag(users_posts_path, :method => "get") do %>
  <button type="button" class="btn btn-success sort-modal-btn ml-5" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
    並べ替え
  </button>
  <button type="button" class="btn btn-success filter-modal-btn ml-3" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
    絞り込み検索
  </button>
  <% if params[:reset] %>
    <button type="button" class="btn btn-outline-success reset-btn ml-3">リセット</button>
  <% end %>

  <%= render partial: 'modal', locals: { posts: @posts, order: params[:order] } %>
<% end %>

<% if @posts&.exists? %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/<%= post.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body mx-3">
            <% truncated_title = truncate(post.title, length: 20, omission: '...') %>
            <h5 class="card-title bold-title" onclick="window.location='<%= users_post_path(id: post.id) %>'" title="<%= post.title %>"><%= truncated_title %></h5>
            
            <% truncated_content = truncate(post.body.gsub(/[\r\n]+/, ' '), length: 25, omission: '...') %>
            <div class="card-text post-index-body gray-content" onclick='window.location="<%= users_post_path(id: post.id) %>"' title="<%= post.body %>">
              <%= simple_format(sanitize(truncated_content, tags: [])) %>
            </div>

            <div class="card-text post-author">
              <%=link_to post.admin ? post.admin.name : post.user.name, index_user_users_user_posts_path(post.admin ? post.admin.id : post.user.id ) %>
            </div>
            
            <div class="card-text-container" style="display: flex; justify-content: space-between; align-items: center;">
              <div>
                <%= post.decorate.formatted_likes(current_user) %>
                <%= post.decorate.formatted_comment_count %>
              </div>
              <div style="display: flex; align-items: center;">
                <time class="timestamp" datetime="<%= post.created_at.strftime('%Y-%m-%d') %>">
                  <%= post.created_at.strftime('%Y-%m-%d') %>
                </time>
                <button class="btn btn-menu" data-bs-toggle="dropdown" style="width: 30px;">︙</button>
                <ul class="dropdown-menu">
                  <% if post.user_id == current_user.id %>
                    <li><%= link_to '閲覧', users_post_path(id: post.id), class: "nav-link" %></li>
                    <li><%= link_to '編集', edit_users_post_path(id: post.id), class: "nav-link" %></li>
                    <li><%= link_to '削除', users_post_path(id: post.id), method: :delete, data: {confirm: "選択した記事を削除します。"}, class: "nav-link" %></li>
                  <% else %>
                    <li><%= link_to '閲覧', users_post_path(id: post.id), class: "nav-link" %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render 'users/shared/table_without_record' %>
<% end %>

<%= paginate @posts, theme: 'bootstrap-5' %>
