<%= javascript_pack_tag "admins/dashboards_index" %>
<button type="button" class="btn btn-success sort-modal-btn ml-5" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
  並べ替え
</button>
<button type="button" class="btn btn-success filter-modal-btn ml-3" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
  絞り込み検索
</button>
<% if params[:reset] %>
  <button type="button" class="btn btn-outline-success reset-btn ml-3">リセット</button>
<% end %>

<span style="background: linear-gradient(transparent 98%, #0073ff 0%);">
<% provide(:title,  "プロフィール一覧") %></span>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><!--アイコンテーブル--></th>
            <th>
              <i class="fas fa-user"></i>
                名前</th>
            <th>
              <i class="fas fa-book-open"></i>
                プログラミング学習開始日</th>
            <th>
              <i class="fas fa-flag"></i>
                プログラミング学習目的</th>
            <th><!--三点リーダーテーブル--></th>
          </tr>
        </thead>
        <tbody>
          <% if @profiles.exists? %>
            <% @profiles.each do |profile| %>
              <tr>
                <td style="padding: 10px">
                  <% image = profile.present? && profile.image.present? ? profile.image : "user_default.png" %>
                  <%= image_tag image , class: "rounded-circle", size: "30x30" %>
                </td>
                <td>
                  <%= profile.user.name %>
                </td>
                <td>
                  <%= profile.learning_start %>
                </td>
                <td>
                  <%= profile.purpose %>
                </td>
                <td>
                  <button class="btn" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
                  <ul class="dropdown-menu">
                    <% if profile.user == current_user %>
                      <li><%= link_to "編集", edit_users_profile_path(profile.id), class: "nav-link" %></li>
                    <% end %>
                    <li><%= link_to '詳細', users_profile_path(profile.id), class:"nav-link" %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% else %>
            <%= render 'users/shared/table_without_record' %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @profiles, theme: 'bootstrap-5' %>        
    </div>
  </div>
</div>

<div class="modal fade" id="sortFilterModal" tabindex="-1" aria-labelledby="sortFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="form-inline">
        <h5 class="modal-title text-center flex-grow-1 mt-4" id="sortFilterModalLabel"></h5>
        <button type="button" class="modal-close btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-right">
        <div class="sort-modal" style="display: none;">
          <% selects = [['五十音順', '逆順'], ['アルファベット順', '逆順'], ['多い順', '少ない順']] %>
          <% order = {'五十音順': 'ASC', 'アルファベット順': 'ASC', '逆順': 'DESC', '多い順': 'DESC', '少ない順': 'ASC'}.with_indifferent_access %>
          <% {'name': selects[0], 'learning_start': selects[1], 'purpose': selects[2]}.each do |k, v| %>
            <div class="form-group row my-5">
              <label for="sort-<%= k %>" class="col-sm-4 col-form-label"><%= Profile.human_attribute_name(k) %></label>
              <div class="col-md-8">
                <select id="sort-<%= k %>" class="form-select" aria-label="Default select none">
                  <option value="" selected>-</option>
                  <option value="<%= order[v[0]] %>"><%= v[0] %></option>
                  <option value="<%= order[v[1]] %>"><%= v[1] %></option>
                </select>
              </div>
            </div>
          <% end %>
        </div>
        <div class="filter-modal" style="display: none;">
          <div class="form-group row my-6">
            <label for="input-name" class="col-sm-4 col-form-label"><%= Profile.human_attribute_name(:name) %></label>
            <div class="col-md-8">
              <input type="text" aria-label="name" id="input-name" class="form-control" value="<%= params[:flt_name] %>">
            </div>
          </div>
          <div class="form-group row my-">
            <label for="input-learning_start" class="col-sm-4 col-form-label"><%= Profile.human_attribute_name(:learning_start) %></label>
            <div class="col-md-8">
              <input type="text" aria-label="learning_start" id="input-learning_start" class="form-control" value="<%= params[:flt_learning_start] %>">
            </div>
          </div>
         <div class="form-group row my-4">
            <label for="input-purpose" class="col-sm-4 col-form-label"><%= Profile.human_attribute_name(:purpose) %></label>
            <div class="col-md-8">
              <input type="text" aria-label="purpose" id="input-purpose" class="form-control" value="<%= params[:flt_purpose] %>">
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary submit-btn"></button>
          <button type="button" class="modal-close btn btn-secondary" data-bs-dismiss="modal">戻る</button>
        </div>
      </div>
    </div>
  </div>
</div>
