<span style="background: linear-gradient(transparent 98%, #0073ff 0%);">
<% provide(:title,  "プロフィール一覧") %></span>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><!--アイコンテーブル--></th>
            <th>
              <i class="nav-icon fas fa-user"></i>
                名前</th>
            <th>
              <i class="nav-icon fas fa-book-open"></i>
                プログラミング学習開始日</th>
            <th>
              <i class="nav-icon fas fa-flag"></i>
                プログラミング学習目的</th>
            <th><!--三点リーダーテーブル--></th>
          </tr>
        </thead>
        <tbody>
          <% if @profiles.exists? %>
            <% @profiles.each do |profile| %>
              <tr>
                <td style="padding: 10px">
                  <%= image_tag profile.image , class: "rounded-circle", size: "30x30" %>
                </td>
                <td>
                  <%= profile.name %>
                </td>
                <td>
                  <%= profile.learning_start %>
                </td>
                <td>
                  <%= profile.purpose %>
                </td>
                <td>
                  <button class="btn" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
                  <ul class="dropdown-menu">
                    <li><%= link_to '詳細', users_profile_path(profile.id), class:"nav-link" %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
          <% else %>
            <%= render 'users/shared/table_without_record' %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

