<%= javascript_pack_tag "users/profiles" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="offset-3 div-title-form">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <h2>プロフィールを作成する</h2>
      <p class="text-contents">現状を公開することで貴方も他の受講生も学習効果が高まります。</p>
    </div>
    <br>
    <div style="padding-left:50px">
      <%= form_with model: @profile, url: { controller: "profiles", action: "create" }, local: true do |f| %>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-user"></i>
              <label class="profile-indent">名前</label>
                <h4 class="profile-indent-name"><%= current_user.name %></h4><br>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-gift"></i>
              <label class="profile-indent">誕生日</label>
                <label class="profile-indent-birthday">
                  <%= f.date_field :birthday, use_month_numbers: true , class: 'form-control', style:"width:300px"%>
                </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-heart"></i>
              <label class="profile-indent">性別</label>
                <label class="profile-indent-gender">
                  <%= f.select :gender, Profile.genders_i18n.keys.map {|k| [Profile.genders_i18n[k], k]}, {include_blank: '選択してください'}, class: 'form-control', style:"width:300px" %>
                </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-book-open"></i>
              <label class="profile-indent">プログラミング学習開始日</label>
                <label class="profile-indent-input">
                  <%= f.date_field :learning_start, use_month_numbers: true , class: 'form-control', style:"width:300px" %>
                </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-flag"></i>
              <label class="profile-indent">プログラミング学習の目的</label>
                <label class="profile-indent-purpose">
                  <%= f.text_area :purpose, class: "form-control", style:"width:300px" %>
                </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <i class="fas fa-image"></i>
              <label class="profile-indent">プロフィール画像</label>
                <label class="profile-indent-image">
                  <%= f.file_field :image %>
                </label>
          </div>
        </div>
    </div>
      <p class="text-center" style="font-size:13px">※プログラミング学習開始日と、プログラミング学習の目的は必須項目です。</p>
      <div class="text-center form-group">
        <%= f.submit class: "btn btn-primary" , style:"width:150px"%>
      </div>
    <% end %>
  </div>
</div>
