<div>
  <h1>プロフィールを作成する</h1>
  <%= form_with model: @profile, url: { controller: "profiles", action: "create" }, local: true do |f| %>
    <div class="form-group">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :learning_history, "学習歴(月)" %><br>
      <%= f.text_field :learning_history %>
    </div>

    <div class="form-group">
      <%= f.label :purpose, "プログラミング学習の目的" %><br>
      <%= f.text_field :purpose %>
    </div>

    <div class="form-group">
      <%= f.label :image, "プロフィール画像" %><br>
      <%= f.file_field :image %>
    </div>

    <div class="submit-block">
      <%= f.submit class: "button" %>
    </div>
  <% end %>
</div>