<%= javascript_pack_tag "users/profiles" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container-fluid">
  <div class="row">
    <div class="col align-self-start"><!--左余白--></div><!--左余白-->
    <div class="col-4 align-self-center"><!--中央余白-->
      <div class="card card-outline card-primary">
        <div class="card-header text-center"><h2>プロフィール</h2></div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12"></div>
              <div class="card-body">
                <div class="user-about">
                  <% if @profile.image.attached? %>
                    <div class="image text-center">
                      <p class="text-muted"><%= image_tag @profile.image, class: "rounded-circle", size: "120x120" %></p>
                    </div>
                  <% end %>
                  <div class="profile-indent text-center">
                    <span class="nav-icon fas fa-user"></span>
                    <span class="profile-indent"><%= @profile.name %></span>
                  </div>
                    <hr>
                  <div class="profile-indent text-center">
                    <span class="nav-icon fas fa-gift"></span>
                    年齢
                    <span class="profile-indent" style="padding-right:10px"><%= @age.to_i/60/60/24/30+1 %>歳</span>
                    <span class="nav-icon fas fa-heart"></span>
                    性別
                    <span class="profile-indent"><%= @profile.gender_i18n %></span>
                  </div>
                    <hr>
                  <div class="profile-indent" style="padding-left:30px">
                   <span class="nav-icon fas fa-book-open"></span>
                   プログラミング学習の期間
                    <td><%= @sa.to_i/60/60/24/30+1 %>ヶ月</td>
                  </div>
                    <hr style="height:0.5px">
                  <div class="profile-indent" style="padding-left:30px">
                    <span class="nav-icon fas fa-flag"></span>
                    プログラミング学習の目的
                    <td class="text-muted"><%= @profile.purpose %></td>
                  </div>
                    <hr>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div><!--中央余白-->
    <div class="col align-self-end"><!--右余白--></div><!--右余白-->
  </div>
</div>
