<%= javascript_pack_tag "users/index_articles_and_dashboards" %>
<% provide(:title,  "テナント一覧") %>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% hover = @tenants.present? ? "table-hover" : "" %>
        <table class="table tenants-table <%= hover %> table-scroll">
          <thead>
            <tr>
              <th class="px-5"><%= Tenant.human_attribute_name(:name) %></th>
              <th>　　　</th>
              <th class="px-5"><%= Tenant.human_attribute_name(:created_at) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if hover.present? %>
              <% @tenants.each_with_index do |tenant| %>
                <tr>
                  <td class="link-td" onclick='window.location="<%= managers_tenant_path(tenant)%>"'><%= tenant.name %></td>
                  <td></td>
                  <td class="link-td" onclick='window.location="<%= managers_tenant_path(tenant)%>"'><%= l(tenant.created_at, format: :date) %></td>                  
                  <td>
                    <button class="btn" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
                    <ul class="dropdown-menu">
                      <li><%= link_to '閲覧', managers_tenant_path(tenant), method: :get, class: "nav-link", method: :get %></li>
                      <li><%= link_to '削除', managers_tenant_path(tenant.id), method: :delete, data: {confirm: "#{tenant.name}を削除します。"}, class: "nav-link" %></li>                    
                    </ul>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <td colspan='100' class="text-center py-5">テナントの登録はありません。</td>
            <% end %>
          </tbody>
        </table>
        <%= paginate @tenants, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>

