<div class="text-center w-50 m-auto pb-2 border-bottom border-1 border-dark"><h2>確認画面</h2></div>

  <div class="d-flex justify-content-center mt-4 pb-5 text-center">
    <div class="charge-guide">1.入力</div>
    <div class="charge-guide current-guide">2.確認</div>
    <div class="charge-guide">3.完了</div>
  </div>

  <div class="field pb-2">
    <p class="fs-5 fw-bold text-danger">ご入力内容をご確認ください。</p>
  </div>
  <div class="field mt-3">
    <p class="fs-5">受講料金: <%= @charge_plan.price %>円</p>
  </div>
  <div class="field mt-3">
    <p class="fs-5">参加人数: <%= @charge_plan.quantity %>人</p>
  </div>
  <div class="field mt-3">
    <p class="fs-5">料金体系: <%= @charge_plan.charge_type %></p>
  </div>
  <div class="field mt-3">
    <p class="fs-5">合計金額: <%= @total_amount %>円</p>
  </div>

<%= form_with model: @charge_plan, url: admins_charge_plans_path, method: :post, local: true do |f| %>
  <%= f.hidden_field :price %>
  <%= f.hidden_field :quantity %>
  <%= f.hidden_field :charge_type %>
  <%= f.hidden_field :amount, id: "amount_field" %>
  <div class="confirm-btn text-center">
    <%= f.submit "料金設定を保存", class: 'mt-5 m-auto' %>
  </div>
<% end %>

<%= form_with model: @charge_plan, url: back_admins_charge_plans_path, method: :get, local: true do |f| %>
  <%= f.hidden_field :price %>
  <%= f.hidden_field :quantity %>
  <%= f.hidden_field :charge_type %>
  <div class="back-btn text-center">
    <%= f.submit '入力画面に戻る', class: 'mt-4 m-auto' %>
  </div>
<% end %>
