<% provide(:title,  "登録ユーザー一覧") %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>email</th>
            <th>記事投稿数</th>
            <th>動画投稿数</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @users.each do |u| %>
                <td><%= u.name %></td>
                <td><%= u.email %></td>
                <td><%= u.articles.count %></td>
                <td><%= u.posts.count %></td>
                <td>
                  <button class="btn" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
                  <ul class="dropdown-menu">
                    <li><%= link_to '詳細', users_show_admins_profiles_path(u.id), class:"nav-link" %></li>
                    <li><%= link_to '編集', users_edit_admins_profiles_path(u.id), class:"nav-link" %></li>
                    <li><%= link_to '削除', user_destroy_admins_profiles_path(u.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"nav-link" %></li>
                  </ul>
                </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
