<%= provide(:title, "カテゴリー一覧") %>

<div class="container">
  <div class="row">
    <div class="list">
      <% @categories.each_with_index do |category, index| %>
        <div class="col-sm-8 offset-sm-1">
          <div class="card category-index-item">
            <h5 class="card-header d-flex align-items-center">
              <%= category.name %>
              <div>
                <%= link_to edit_admins_category_path(category), class:"btn category-edit text-primary", data: { toggle: "modal", target: "#categoryEditModal", turbolinks: false }, remote: true do %>
                  <i class="nav-icon fas fa-pencil-alt"></i>
                  カテゴリー編集
                <% end %>
              </div>
            </h5>
            <div class="d-flex justify-content-center align-items-center">
              <%= link_to "#", class:"btn category-show btn-outline-primary" do%>
                <i class="nav-icon fas fa-plus"></i>
                記事の追加・編集
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm-8 offset-sm-1 category-new-btn d-flex justify-content-center align-items-center">
      <%= link_to "カテゴリーの追加", new_admins_category_path, class: "btn category-new", data: { toggle: "modal", target: "#categoryNewModal"}, remote: true %>
    </div>
  </div>
</div>

<div id="categoryEditModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="categoryNewModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>