<head><script src="https://kit.fontawesome.com/c3f6f3c4db.js" crossorigin="anonymous"></script></head>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to users_dash_boards_path, class:"brand-link", method: :get do %>
    <%= image_tag "AdminLTELogo.png", class:"brand-image img-circle elevation-3", style: "opacity: .8" %>
    <span class="brand-text font-weight-light">Tecputt</span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to users_articles_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              記事一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_profiles_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fas fa-address-card"></i>
            <p>
              プロフィール一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_posts_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fa-brands fa-youtube"></i>
            <p>
              動画投稿一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_tweets_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fa-brands fa-twitter"></i> 
            <p>
              つぶやき一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_users_inquiry_path, class:"nav-link", method: :get do %>
            <i class="fa-solid fa-circle-info"></i>
            <p>
              問い合わせ
            </p>
          <% end %>
        </li>
      </ul>
    </nav>    
  </div>
</aside>
