<%= javascript_pack_tag "users/index_articles_and_dashboards" %>

<% provide(:title, "e-learning一覧") %>

<div class="container">
  <div class="row">
    <% if @e_learning_articles.present? %>
      <% @e_learning_articles.each_with_index do |article, index| %>
        <div class="col-sm-6 offset-sm-1">
          <div class="card e-learning-index-item">
            <h5 class="card-header">
              <% if (current_admin || current_user).completed?(article) %>
              <% else %>
              <% end %>
              <%= article.title %>
            </h5>
            <div class="card-body">
              <div class="card-text e-learning-index-item">
                <%= article.sub_title %>
              </div>
              <div>
                <%= link_to "閲覧", admins_learning_path(article), class: "btn btn-primary btn-sm mr-2" %>

                <!-- 編集ボタン -->
                <%= link_to "編集", edit_admins_learning_path(article), class: "btn btn-success btn-sm mr-2" %>

                <!-- 削除ボタン -->
                <%= link_to "削除", admins_learning_path(article), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="article-paginate">
      <%= paginate @e_learning_articles, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>