<% provide(:title, "支払い履歴") %>
<div class="container-fluid">
  <% if @charges.any? %>
    <h2>単体決済</h2>
    <table class="table table-fixed">
      <thead>
        <tr>
          <th scope="col" class="w-25">支払日</th>
          <th scope="col" class="w-25">金額</th>
          <th scope="col" class="w-25">決済ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @charges.each do |charge| %>
        <tr>
          <td><%= Time.at(charge.created).strftime("%Y-%m-%d") %></td>
          <td><%= charge.amount %>円</td>
          <td><%= t("payment.status.#{charge.status}") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>単体決済の履歴がありません。</p>
  <% end %>

  <% if @subscriptions.any? %>
    <h2>定額決済</h2>
    <table class="table table-fixed">
      <thead>
        <tr>
          <th scope="col" class="w-25">支払日</th>
          <th scope="col" class="w-25">金額</th>
          <th scope="col" class="w-25">決済ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @subscriptions.each do |subscription| %>
        <tr>
          <td><%= Time.at(subscription.current_period_start).strftime("%Y-%m-%d") %></td>
          <td><%= subscription.items.data.first.plan.amount %>円</td>
          <td><%= t("payment.status.#{subscription.status}") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>定額決済の履歴がありません。</p>
  <% end %>
</div>
