<span style="background: linear-gradient(transparent 98%, #0073ff 0%);">
<% provide(:title,  "問い合わせ一覧") %></span>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table" class="table table-hover">
        <thead>
          <tr>
            <th>件名</th>
            <th>内容</th>
            <th>作成日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <% @inquiry.each do |inquiry| %>
              <tr>
                <td><%= inquiry.subject %></td>
                <td><%= inquiry.content %></td>
                <td><%= inquiry.created_at.strftime('%Y/%m/%d') %></td>
                <td>
                  <button class="btn" data-bs-toggle="dropdown" style="width: 66.5px" >︙</button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'やり取り', users_inquiry_path(inquiry), class:"nav-link" %></li>
                    <li><%= link_to '非表示', users_inquiry_path(inquiry), method: :patch, class:"nav-link",  data: { confirm: '本当に非表示にしますか？' } %></li>
                  </ul>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
