<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-hover articles-table">
          <thead>
            <tr>
              <th class="px-5">タイトル</th>
              <th class="px-5">サブタイトル</th>
              <% unless dashboard %>
                <th class="px-5">投稿者</th>
              <% end %>
              <th class="px-5">投稿日</th>
            </tr>
          </thead>
          <tbody>
            <% if @articles.exists? %>
              <% @articles.each do |a| %>
                <tr class="link-tr" onclick='window.location="<%= users_article_path(id: a.id, dashboard: dashboard) %>"'>
                  <td><%= a.title %></td>
                  <td><%= a.sub_title %></td>
                  <% if !dashboard %>
                    <td><%= @users.find(a.user_id).name %></td>
                  <% end %>
                  <td><%= l(a.created_at, format: :long) %></td>
                </tr>
              <% end %>
            <% else %>
              <%= render 'users/shared/table_without_record' %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
