<%= javascript_pack_tag "users/tweets" %>
<% provide(:title, "つぶやき一覧") %>
<% number_of_comment_notifications = @comment_notifications.count %>
<% if number_of_comment_notifications > 0 %>
  <div class="col-12 col-sm-8 offset-sm-2">
    <div class="notification-label">
      <a href="#notification1" data-toggle="collapse"><%= number_of_comment_notifications %>件のコメント通知があります。</a><br>
    </div>
    <div id="notification1" class="collapse">
      <div class="collapse-body">
        <ul class="list-group">
          <% @comment_notifications.each do |notification| %>
            <%= form_with url: confirmed_notification_users_tweet_comment_path(notification.tweet, notification), method: :patch, local: true, html: {class: "notification-form"} do |form| %>
              <li class="list-group-item">
                <strong><%= notification.user.name %>さんからのコメント</strong>
                <p><%= link_to "#{notification.comment_content}", "#", class: "notification-link" %></p>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<%= render "users/tweets/shared/tweets_table" %>
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
