<%= javascript_pack_tag "users/tweets" %> <%# cssを反映させる%>
<h1>つぶやき詳細</h1>
<%= form_with(model: [@tweet, @comment], url: users_tweet_comments_path(@tweet, @comment), method: :post) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

<div class="container">
  <div class="col-8 offset-2">
    <div class="row row-cols-auto">
      <div class="col fs-1">
        <%= @tweet.user.name %>
      </div>
      <div class="col mt-4">
        <%= l(@tweet.user.created_at, format: :long) %>
      </div>
    </div>
    <div class="row">
      <div class="text-wrap rounded-2 comment-bgcolor mb-5 fs-3" style="width: auto;">
        <%= @tweet.post %>
      </div>
    </div>
    <div class="row"></div>
    <% if @comments.exists? %>
      <div class="fw-bold">〜コメント一覧〜</div>
    <% end %>
    <% @comments.each do |comment| %>
      <div class="comment-contents my-2 ">
        <div class="row row-cols-auto">
          <div class="col">
            <%= comment.user.name %>
          </div>
          <div class="col">
            <%= l(comment.created_at, format: :long) %>
          </div>
        </div>
        <div class="row row-cols-auto">
          <div class="text-wrap rounded-2 comment-bgcolor break-all" style="width: 30rem;">
            <%= safe_join(comment.comment_content.split("\n"),tag(:br)) %>
          </div>
          <div class="dropdown"> 
            <span style="margin-right: 1em;"></span>
            <button class="btn" data-bs-toggle="dropdown" style="width: 50px">︙</button>
            <ul class="dropdown-menu test-color">
              <% if comment.user == current_user %>
                <li><%= link_to '編集', "#", class:"dropdown-item" %></li>
                <li><%= link_to '削除', users_tweet_comment_path(@tweet, comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>
      <%= f.text_area :comment_content, class: "form-control mt-5" %>
      <%= f.hidden_field :tweet_id, value: @tweet.id %>
      <%= f.submit 'コメントする' %>
    </div>
  </div>
</div>
<% end %>
