<%= javascript_pack_tag "users/tweets" %> <%# cssを反映させる%>
<% provide(:title, "つぶやき詳細") %>
<div class="container">
  <div class="row">
    <div class="co-12 col-lg-8 offset-lg-2">
      <div class="card">
       <% image = @tweet.user.profile.present? && @tweet.user.profile.image.present? ? @tweet.user.profile&.image : "user_default.png" %>
        <div class="d-flex align-items-center">
          <%= image_tag image , class: "rounded-circle", size: "60x60" %>
          <div class="d-flex align-items-start justify-content-start">
            <strong>
              <%= @tweet.user.name %>
            </strong>
            <div>・<%= l(@tweet.created_at, format: :long) %>
            </div>
          </div>
        </div>
        <div class="tweet-content">
          <%= raw Rinku.auto_link(sanitize(simple_format(@tweet.post.gsub(/ /, '&nbsp;'))), :all, 'target="_blank"') %>
            <% @tweet.images.each do |image| %>
              <% if image.persisted? %>
                <%= image_tag image, class: "tweet-image" %>
              <% end %>
            <% end %>
        </div>
      </div>
      <div class="comment-create-form form-group">
        <%= form_with(model: [@tweet, @tweet_comment], url: users_tweet_tweet_comments_path(@tweet, @tweet_comment), method: :post) do |form| %>
          <%= form.text_area :content, placeholder: "コメントしましょう！", class: "form-control mt-2" %>
          <%= form.hidden_field :tweet_id, value: @tweet.id %>
          <%= form.hidden_field :recipient_id, value: @tweet.user_id %> <%# コメントを受け取るtweetユーザーのID %>
          <%= form.hidden_field :confirmed, value: false %> <%# コメント確認フラグ。コメントを受け取るユーザーが未確認の場合はfalse,確認するとtrue。%>
          <%= form.submit 'コメントする', class: "btn btn-primary comment-submit" %>
        <% end %>
      </div>
      <% if @tweet_comments.exists? %>
        <p class="comment-list fw-bold">〜コメント一覧〜</p>
      <% end %>
      <% @tweet_comments.each do |comment| %>
        <div class="comment-box" id="comment-<%= comment.id %>">
          <!-- モーダルの設定 -->
          <div class="modal fade" id="commentUpdateModal-<%= comment.id %>" tabindex="-1" aria-labelledby="commentUpdateModalLabel">
            <div class="modal-dialog modal-lg form-group">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="commentUpdateModal<%= comment.id %>">コメントの編集</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <%= form_with(model: comment, url: users_tweet_tweet_comment_path(@tweet, comment), local: true, method: :patch) do |f| %>
                  <div class="modal-body">
                    <%= f.text_area :content, class: "form-control" %>
                    <%= f.hidden_field :tweet_id, value: @tweet.id %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    <button type="submit" class="btn btn-primary">変更を保存</button>
                  </div><!-- /.modal-footer -->
                <% end %>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <% image = comment.user.profile.present? && comment.user.profile.image.present? ? comment.user.profile&.image : "user_default.png" %>
          <div class="comment-contents">
            <div class="comment-header d-flex align-items-center">
              <%= image_tag image , class: "rounded-circle", size: "30x30" %>
              <strong><%= comment.user.name %></strong>
              <span class="timestamp" data-time="<%= comment.created_at.to_i %>"></span>
              <div class="dropdown d-flex align-items-center ms-auto">
                <button class="btn" data-bs-toggle="dropdown" style="width: 50px">︙</button>
                <ul class="dropdown-menu test-color">
                  <% if comment.user == current_user %>
                    <li>
                      <button type="button" class="btn btn-primary dropdown-item rounded-0" data-bs-toggle="modal" data-bs-target="#commentUpdateModal-<%= comment.id %>">
                      編集</button>
                    </li>
                    <li>
                      <%= link_to '削除', users_tweet_tweet_comment_path(@tweet, comment), method: :delete, data: { confirm: 'Are you sure?' }, class:"dropdown-item" %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="comment-content">
              <%= raw Rinku.auto_link(sanitize(simple_format(comment.content.gsub(/ /, '&nbsp;'))), :all, 'target="_blank"') %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
