<button type="button" class="btn btn-success sort-modal-btn ml-5" data-bs-toggle="modal" data-bs-target="#sortFilterModal" style="display: none;">
  並べ替え
</button>
<% if params[:reset] %>
  <button type="button" class="btn btn-outline-success reset-btn ml-3">リセット</button>
<% end %>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-hover articles-table">
          <thead>
            <tr>
              <th class="px-5"><%= Article.human_attribute_name(:title) %></th>
              <th class="px-5"><%= Article.human_attribute_name(:sub_title) %></th>
              <th class="px-5"><%= Article.human_attribute_name(:user) %></th>
              <th class="px-5"><%= Article.human_attribute_name(:created_at) %></th>
            </tr>
          </thead>
          <tbody>
            <% if @articles.exists? %>
              <% @articles.each do |a| %>
                <tr class="link-tr" onclick='window.location="<%= users_article_path(a.id) %>"'>
                  <td><%= a.title %></td>
                  <td><%= a.sub_title %></td>
                  <td><%= a.user.name %></td>
                  <td><%= l(a.created_at, format: :long) %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="100" class="text-center py-5">投稿なし</tr>
              </tr>                
            <% end %>
          </tbody>
        </table>
        <%= paginate @articles, theme: 'bootstrap-5' %>        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sortFilterModal" tabindex="-1" aria-labelledby="sortFilterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="form-inline">
        <h5 class="modal-title text-center flex-grow-1 mt-4" id="sortFilterModalLabel"></h5>
        <button type="button" class="modal-close btn-close mr-3" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-right">
        <div class="sort-modal" style="display: none;">
          <div class="form-group row my-5">
            <label for="sort-select" class="col-sm-3 col-form-label"><%= Article.human_attribute_name(:created_at) %></label>
            <div class="col-md-9">
              <% order = {'DESC': '新しい順', 'ASC': '古い順'} %>
              <% params[:order] ||= 'DESC' %>
              <select id="sort-select" class="form-select" aria-label="Default select desc">
                <option value="<%= params[:order] %>" selected><%= order.delete(:"#{params[:order]}") %></option>
                <option value="<%= order.keys[0] %>"><%= order[order.keys[0]] %></option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary submit-btn"></button>
          <button type="button" class="modal-close btn btn-secondary" data-bs-dismiss="modal">戻る</button>
        </div>
      </div>
    </div>
  </div>
</div>

