<head><script src="https://kit.fontawesome.com/c3f6f3c4db.js" crossorigin="anonymous"></script></head>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to admins_dash_boards_path, class:"brand-link", method: :get do %>
    <%= image_tag "AdminLTELogo.png", class:"brand-image img-circle elevation-3", style: "opacity: .8" %>
    <span class="brand-text font-weight-light">TecPutt管理画面</span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
      </div>
      <div class="info">
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admins_learnings_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fa-sharp fa-solid fa-book-open"></i> 
            <p>e-learning</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_articles_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fas fa-th"></i> <!-- <i class="nav-icon fas fa-newspaper"></i> user使用のアイコン -->
            <p>
              記事一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_posts_path, class:"nav-link", method: :get do %>
            <i class="nav-icon fa-brands fa-youtube"></i>
            <p>
              動画投稿一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_users_path, class:"nav-link", method: :get do  %>
            <i class="nav-icon fas fa-list"></i>
            <p>
              登録ユーザー一覧
            </p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_inquiries_path, class:"nav-link", method: :get do  %>
            <i class="nav-icon fas fa-list"></i>
            <p>
              問い合わせ一覧
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
