<%= javascript_pack_tag "users/index_articles_and_dashboards" %>
<%= stylesheet_pack_tag 'users/e_learning', media: 'all', 'data-turbolinks-track': 'reload' %>

<% provide(:title,  "e-learning一覧") %>

<div class="container">
  <div class="row">
    <% @e_learning_articles.each do |article| %>
      <div class="col-sm-6 offset-sm-1">
        <div class="card e-learning-index-item">
          <h5 class="card-header">
            <button type="button" class="btn btn-outline-secondary btn-xs e-learning-status" disabled>未完了</button>
            <%= article.title %>
          </h5>
          <div class="card-body">
            <p class="card-text e-learning-index-item">
              <%= article.sub_title %>
            </p>
            <a href="<%= e_learning_show_users_article_path(id: article.id) %>" class="btn btn-primary article-button">記事を読む</a>
          </div>
        </div>
      </div>
    <% end %>
    <div class="article-paginate">
      <%= paginate @e_learning_articles, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>

