<%= javascript_pack_tag "users/index_articles_and_dashboards" %>
<% provide(:title,  "e-learning一覧") %>

<div class="content">
  <div class="container">
    <div class="row">
      <% @e_learning_articles.each_with_index do |article, index| %>
        <div class="col-12 col-sm-8 offset-sm-2">
          <div class="card tweets-index-item">
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-start flex-column justify-content-start">
                <div class="link-td" id="article-title" onclick='window.location="<%= e_learning_show_users_article_path(id: article.id) %>"'>
                  <div class="d-flex align-items-center">
                    <%= article.title %>                     
                  </div>
                </div>
              </div>
            </div>
            <div class="link-td" id="article-subtitle" onclick='window.location="<%= e_learning_show_users_article_path(id: article.id) %>"'><%= article.sub_title %>
              <%= article.sub_title %>
            </div>
          </div>
        </div>  
      <% end %>
      <div class="article-paginate">
        <%= paginate @e_learning_articles, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
