<%# javascript_pack_tag "users/articles" %>

<div class="container">
  <h1 class="text-center">記事編集</h1>
  <%= render "users/articles/shared/article_form_and_preview", btn_name: "更新", url: users_article_path, method: :patch %>
</div>

<%
=begin
%>
<h1 class="text-center">記事の編集</h1>
    <%#<div class="col-6 offset-3">%>
  <%= form_with(model: @article, url: users_article_path, method: :patch, local: true) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    <div class="form-group">
      <div id='editor0'>
        <div class="row">  
          <!-- ここに入力-->
          <div class="col-5 m-1">
            <%# name属性=カラム名 テキスト形式のコントロールはform-control が付与
            id="n"の意味は不明 %>
            <div>
              <input name="title" id="n" class="form-control" rows="20" 
              v-model='input' debounce='50'>
            </div>
          </div>
          <!-- ここに出力-->
          <div class="col-5 m-1 border">                 
            <div class="di_inline_t preview">
                  <%# v-html はHTMLタグのまま出力するときに用います。 %>
              <div v-html='input | marked' style: :"width: 650px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="form-group pb-1">
        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
    <div class="col-12 mx-auto py-3">
      <div class="text-center py-3">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    </div> 
  <% end %>
  <%= link_to t('.back'), :back %>

 <script type="text/javascript">
    window.onload = function() {
      new Vue({
        el: '#editor0', // 選別箇所
        data: {
          input: '<%== j @article.content %>',
        },
        filters: {
          marked: marked,
        },
      }); 
      new Vue({
        el: '#editor1', // 選別箇所
        data: {
          input: '<%== j @article.content %>',
        },
        filters: {
          marked: marked,
        },
      });
    };
  </script>
    <%
=end
%>