
<%# javascript_pack_tag "users/articles" %>

<% provide(:title,  "記事一覧") %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>著者</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |a| %>
            <tr data-href="/users/articles/<%= a.id %>" class="tr-link">
              <td><%= a.title %></td>
              <td><%= @users.find(a.user_id).name %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  </div>
</div>


<%
=begin
%>
<% provide(:title,  "記事一覧") %>
    <div class="col-10">
    <table class="table">
      <thead>
        <tr>
          <th><%= "日付" %></th>
          <th><%= "タイトル" %></th>
          <th><%= "編集" %></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |a| %>
          <tr>
            <td><%= l(a.created_at, format: :index) %></td>
            <td><%= link_to a.title, users_article_path(a.id) %></td>
            <td>
              <%= link_to "編集", edit_users_article_path(a.id), class: "btn btn-success text-white" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div> 
  <%
=end
%>
