<%= javascript_pack_tag "users/articles_show" %>
<div class="container">
  <div class="row">
    <% if @article.user_id == current_user.id %>
      <div class="d-flex col-10 justify-content-end">
        <%= link_to "編集", edit_users_article_path(dashboard: @dashboard, page: params[:page], show: true), class: "btn btn-success" %>
        <%= link_to "削除", users_article_path(dashboard: @dashboard, page: params[:page]), method: :delete, data: {confirm: "表示中の記事を削除します。"}, class: "btn btn-danger ml-2" %>
      </div>
    <% end %>

    <div class="col-10">
      <div class="col-9 offset-2 float-left mb-1 text-left">
        <h1>
          <%= @article.title %>
        </h1>
        <h4 class="ml-3"><%= @article.sub_title %></h4>
      </div>
      <% if @article.user_id != current_user.id %>
        <div class="mt-3">
          投稿者：<%= User.find(@article.user_id).name %>
        </div>
      <% end %>
    </div>
    <div class="hr"></div>
    <div class="col-10 offset-1 article-content" data-article="<%= @article.content %>"></div>

    <div class="code-copy" style="display: none;">
      <div class="code-copy__message" style="display: none;">
        Copied!
      </div>
      <button class="code-copy__button" style="display: none;">
        <span class="fa fa-fw fa-clipboard"></span>
      </button>
    </div>
  </div>
</div>
