

<%= markdown(@article.title) %>
<%= toc(@article.content) %>
<%= markdown(@article.content) %>

<%= qiita_markdown(@article.title) %>
<%= qiita_markdown(@article.content) %>

<%# javascript_pack_tag "users/articles" %>

<div class="container">
  <div class="row">
    <% if @article.user_id == current_user.id %>
      <div class="d-flex col-10 justify-content-end">
        <%= link_to "編集", edit_users_article_path, class: "btn btn-success" %>
        <%= link_to "削除", users_article_path, method: :delete, data: {confirm: "記事#{@article.id}を削除します。"}, class: "btn btn-danger ml-2" %>
      </div>
    <% end %>

    <div class="col-10">
      <div class="col-8 float-left">
        <h1 class="text-left"><%= @article.title %></h1>
      </div>
      <% if @article.user_id != current_user.id %>
        <div class="col-3 float-right">
          <%# <h6> %>
          <div class="mt-4">
          <%= User.find(@article.user_id).name %>
          </div>
          <%# </h6> %>
        </div>
      <% end %>
    </div>
    <hr class="my-3">
    <%# <div class="col-8 offset-2 markdown-preview"> %>
    <div class="col-8 offset-2 article-view" data-article="<%= @article.content %>">
      <%# @article.content %>
      <%# simple_format(@article.content) %>
    </div>

  </div>
</div>

<%
=begin
%>
<div class="container", style="width: 650px; height: 1000px;">
  <table class="table">
  <h1>記事詳細</h1>
      <tr>
       <th><%= Article.human_attribute_name(:title)%></th>
       <td><%= @article.title %></td>
      </tr>
      <tr>
       <th><%= Article.human_attribute_name(:content)%></th>
       <td><%= @article.content %></td>
      </tr>
  </table>
  <div>
    <%= link_to "戻る", users_articles_path, class: "btn btn-primary text-white " %>
  </div>
</div> 
  <%
=end
%>