<!-- app/views/users/chat_gpts/index.html.erb -->
<% if @chatgpts.present? %>
  <div class="chatgpt-list">
    <% @chatgpts.each.with_index(1) do |chatgpt, index| %>
      <div class="chatgpt-item">
        <p>
          <%= link_to "質問No. #{current_user.chat_gpts.count - index + 1}", users_chat_gpt_path(chatgpt), class: "question-link" %>
          <%= chatgpt.created_at.strftime("%Y/%m/%d %H:%M") %>
          に質問しました。
        </p>
        <% title, content = extract_title_and_content(chatgpt.content) %>
        <% if title.present? %>
          <p><strong>タイトル：</strong><%= link_to title, users_chat_gpt_path(chatgpt) %></p>
        <% end %>
        <p><strong>質問:</strong></p>
        <p><%= chatgpt.prompt %></p>
        <p><strong>回答:</strong></p>
        <% if content.present? %>
          <p><%= content %></p>
        <% else %>
          <p>回答がまだありません。</p>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>質問がありません。</p>
<% end %>

<div class="box-return-to-create">
  <%= link_to '質問作成に戻る', new_users_chat_gpt_path, class: "btn btn-primary" %>
</div>
