<!-- app/views/users/chat_gpts/show.html.erb -->
<% if user_signed_in? %>
  <div class="show-page-container">
    <div class="main-content">
      <h3 class="show-page-title">質問詳細ページ</h3>
      <p>作成日：<%= @chatgpt.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      <div class="show-page-card">
        <div class="show-page-card-body" id="chatgpt-content">
          <% question_number = @chatgpt.id %>
          <%= render partial: 'users/chat_gpts/shared/show_content', locals: { chatgpt: @chatgpt, question_number: question_number } %>
        </div>
      </div>
      <div class="form-group mt-3">
        <%= form_with url: continue_question_users_chat_gpt_path(@chatgpt), method: :post, local: true, id: 'continue-question-form', remote: true do %>
          <label for="new_prompt">続けて質問する</label>
          <textarea id="new_prompt" name="new_prompt" class="form-control" rows="6" style="height: 200px;" data-previous-response="<%= @chatgpt.content %>"></textarea>
          <%= hidden_field_tag :previous_response, @chatgpt.content %>
          <%= submit_tag '質問を続ける', class: 'btn btn-primary mt-2', id: 'continue_question_button' %>
        <% end %>
      </div>
      <div id="loading-spinner" style="display: none;">処理中...</div>
      <div class="show-page-return-button mt-3 text-center">
        <%= link_to '戻る', users_chat_gpts_path, class: "btn btn-secondary mx-2" %>
        <% if @chatgpt.persisted? %>
          <%= link_to '削除', users_chat_gpt_path(@chatgpt), method: :delete, data: { confirm: "この質問を本当に削除してよろしいですか？" }, class: "btn btn-danger mx-2" %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <p class="show-page-login-alert">ログインしてください。</p>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
<% end %>
