<%= javascript_pack_tag "users/profiles" %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="div-title-form">
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      <h2>マネージャーアカウントの編集</h2>
    </div>
    <br>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div style="padding-left:100px">
        <table class="manager-account-edit", height="200">
          <tr>
            <th><i class="fas fa-user"></i></th>
            <th class="manager-name">マネージャー名</th>
            <td>
              <%= f.text_field :name, autofocus: true, class:"form-control", style: "width:350px" %>
            </td>
          </tr>
          <tr>
            <th><i class="fas fa-envelope"></i></th>
            <th class="manager-email">メールアドレス</th>
            <td>
              <%= f.email_field :email, autocomplete: "email", class:"form-control", required: true, style: "width:350px" %>
            </td>
          </tr>
          <tr>
            <th><i class="fas fa-lock"></i></th>
            <th class="manager-password">現在のパスワード（必ず入力してください）</th>
            <td>
              <%= f.password_field :current_password, autocomplete: "new-password", class:"form-control", required: true, style: "width:350px" %>
            </td>
          </tr>
          <tr>
            <th><i class="fas fa-lock"></i></th>
            <th class="manager-password">新パスワード（変更したい場合）</th>
            <td>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control", style: "width:350px" %>
            </td>
          </tr>
          <tr>
            <th><i class="fas fa-lock"></i></th>
            <th class="manager-password">新パスワード（確認用）</th>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", style: "width:350px" %>
            </td>
          </tr>
        </table>
      </div>
      <div class="btn-manager--edit">
        <%= f.submit t('.update'), class:"btn btn-primary" %>
      </div>
    <% end %>
    <div style="padding-left:100px">
      <%= link_to "戻る", managers_show_managers_profiles_path %>
    </div>
  </div>
</div>
